<div class="container">

	<div class="text-center pb-3">
		<img src="/assets/img/burger-hd.png" class="img-fluid pt-3" alt="Responsive image">
		<h1>Eat-Da-Burger!</h1>
	</div>
	<hr>

	<div class="div1 text-center">
		<h2>Add a Burger...</h2>
		<p>Enter a burger you want to eat and click the "Submit" button</p>
		<form class="create-form">

			<div class="form-group">
				<label for="bn">Burger Name:</label>
				<input type="text" id="bn" name="burger_name">
				<button  class="btn-primary"type="submit">Submit</button>
				<button id="clear-plate" class="btn-danger" type="button">Clear Plate!</button>
			</div>

		</form>
		<hr>
	</div>

	{{#if burgers}}
	<div class="row">
		<div class="col-5">
	
				<div class="card not-devoured">
					<div class="card-header font-weight-bold">Non-Devoured Burgers</div>
					<div class=" card-body">
						{{#each burgers}}
							{{#unless devoured}}
								<div class="row py-2 border-bottom">{{burger_name}}<button data-id="{{id}}" class="ml-auto change-devoured">Devour!</button></div>
							{{/unless}}
						{{/each}}
					</div>		
				</div>
			
		</div>
	
		<div class="col-5 offset-2">
			<div class="card devoured">
				<div class="card-header font-weight-bold">Devoured Burgers</div>
				<div class=" card-body col">
					{{#each burgers}}
						{{#if devoured}}
							<div class="row py-2 border-bottom">{{burger_name}}</div>
						{{/if}}
					{{/each}}
				</div>		
			</div>
		</div>
	</div>
	{{/if}}
</div>